# Sample .npmrc file for security testing.
# These keys can influence which commands/binaries npm executes.
registry=https://registry.npmjs.org/

call=node
editor=vim
git=/usr/bin/git
script-shell=/bin/zsh
shell=/bin/bash
